Not archiving the data right now, this exercise results in a pretty easy way to improve ticdat.

In [1]:
import ticdat
import time

In [2]:
pandat = ticdat.PanDatFactory(table_data = [[], ["SoldCount", "StrengthFactor", "ItemCount"]])

In [3]:
pandat.set_data_type("table_data", "SoldCount", min=0, max=50, inclusive_min=True, 
                     inclusive_max=True, nullable=False)

In [4]:
dat = pandat.csv.create_pan_dat("pandat_data")

In [5]:
dat.table_data["SoldCount"].max(), dat.table_data["SoldCount"].min()

(73.0, 0.0)

In [6]:
start_time = time.time()

In [7]:
all_fails = pandat.find_data_type_failures(dat)

In [8]:
df_with_bad_rows = all_fails['table_data', "SoldCount"]

In [9]:
len(dat.table_data)

198917

In [10]:
len(df_with_bad_rows)

122924

In [11]:
print(f"Time to do bulk query using apply under the hood in sec {time.time()-start_time}")

Time to do bulk query using apply under the hood in sec 2.3052430152893066

In [12]:
len(dat.table_data.columns)

14

2.5 seconds is slow compared to the bulk copy.

In [13]:
%time dat.table_data.copy(deep=True)

CPU times: user 50.5 ms, sys: 25.6 ms, total: 76.2 ms
Wall time: 13 ms

,SoldCount,StrengthFactor,ItemCount,Order,File_Type,SKU_number,SoldFlag,MarketingType,ReleaseNumber,New_Release_Flag,PriceReg,ReleaseYear,LowUserPrice,LowNetPrice
0,0.0,6.827430e+05,8,2,Historical,1737127,0.0,D,15,1,44.99,2015,28.97,31.84
1,0.0,1.016014e+06,39,3,Historical,3255963,0.0,D,7,1,24.81,2005,0.00,15.54
2,0.0,3.404640e+05,34,4,Historical,612701,0.0,D,0,0,46.00,2013,30.19,27.97
3,1.0,3.340110e+05,20,6,Historical,115883,1.0,D,4,1,100.00,2006,133.93,83.15
4,1.0,1.287938e+06,28,7,Historical,863939,1.0,D,2,1,121.95,2010,4.00,23.99
5,0.0,1.783153e+06,33,8,Historical,214948,0.0,D,0,0,132.00,2011,138.98,13.64
6,0.0,2.314801e+06,33,9,Historical,484059,0.0,D,13,1,95.95,2010,90.77,46.49
7,0.0,7.211110e+05,57,10,Historical,146401,0.0,D,4,1,207.80,2011,187.90,30.56
8,0.0,4.366670e+05,36,11,Historical,110568,0.0,D,11,1,119.81,2008,63.99,96.92
9,0.0,6.652211e+06,19,12,Historical,764270,0.0,D,5,1,49.95,2004,53.99,28.99
10,0.0,1.613480e+05,21,13,Historical,1597828,0.0,D,9,1,36.95,2008,0.00,27.98
11,0.0,3.005118e+06,16,14,Historical,178736,0.0,D,4,1,55.95,2010,34.51,11.52
12,0.0,1.785056e+06,15,15,Historical,525904,0.0,D,10,1,104.99,2010,4.39,73.89
13,0.0,4.323581e+06,26,16,Historical,3016759,0.0,D,2,1,0.00,1994,0.00,61.85
14,0.0,2.352021e+06,22,17,Historical,169222,0.0,D,8,1,129.95,2006,75.84,8.97
15,0.0,7.693526e+06,12,18,Historical,3071053,0.0,D,5,1,64.95,2005,128.99,37.39
16,1.0,3.831290e+05,69,19,Historical,110699,1.0,D,6,1,120.39,2007,170.45,78.99
17,0.0,9.098310e+05,33,20,Historical,115159,0.0,D,1,0,126.20,2001,38.92,44.46
18,0.0,2.798929e+06,20,21,Historical,143125,0.0,D,9,1,167.75,2006,6.97,28.49
19,0.0,2.491442e+06,33,22,Historical,144296,0.0,D,2,1,94.60,2001,11.23,4.99
20,0.0,1.315627e+06,37,23,Historical,159588,0.0,D,2,1,53.95,2007,9.93,15.89
21,0.0,1.814079e+06,34,24,Historical,178701,0.0,D,0,0,399.95,2012,71.79,91.90
22,1.0,1.568054e+06,23,25,Historical,210839,1.0,D,1,0,42.95,2001,57.94,18.99
23,0.0,5.499900e+04,34,26,Historical,210920,0.0,D,1,0,97.95,2009,42.35,63.98
24,1.0,2.701930e+05,22,27,Historical,2387463,1.0,D,6,1,0.00,1979,141.98,76.22
25,1.0,1.566380e+05,67,28,Historical,2398402,1.0,D,2,1,98.95,1988,142.71,14.02
26,1.0,1.160035e+06,52,29,Historical,244942,1.0,D,9,1,177.95,2003,45.80,9.99
27,0.0,2.450935e+06,46,30,Historical,247825,0.0,D,2,1,51.95,2004,57.89,12.49
28,0.0,1.728372e+06,47,31,Historical,251957,0.0,D,3,1,70.95,2009,7.47,4.00
29,0.0,2.925930e+06,14,32,Historical,3133247,0.0,D,4,1,50.00,2001,112.86,59.69
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
198887,NaN,1.874855e+05,34,207998,Active,1556695,NaN,S,1,0,47.95,2014,39.35,35.32
198888,NaN,7.735933e+05,78,207999,Active,177923,NaN,D,3,1,157.95,2003,4.00,7.15
198889,NaN,5.804377e+04,51,208000,Active,524948,NaN,S,4,1,151.95,2012,38.67,69.49
198890,NaN,1.964078e+05,37,208001,Active,1557959,NaN,S,0,0,47.95,2015,38.95,38.39
198891,NaN,9.047473e+05,50,208002,Active,132327,NaN,S,2,1,47.95,2007,4.00,43.68
198892,NaN,1.724417e+04,39,208003,Active,1703720,NaN,S,0,0,75.00,2010,36.78,45.83
198893,NaN,9.148262e+05,40,208004,Active,750629,NaN,D,1,0,49.99,2008,4.74,14.98
198894,NaN,5.796935e+05,26,208005,Active,617572,NaN,S,2,1,49.99,2011,43.67,60.98
198895,NaN,3.118201e+06,11,208006,Active,3604374,NaN,D,4,1,24.25,1900,30.15,31.61
198896,NaN,1.974106e+06,25,208007,Active,2347080,NaN,D,7,1,185.00,1992,5.98,39.49
198897,NaN,3.558298e+05,61,208008,Active,524944,NaN,D,9,1,299.00,2010,61.84,103.78
198898,NaN,1.227734e+06,19,208009,Active,105697,NaN,S,8,1,245.00,2002,40.90,98.99
198899,NaN,5.082790e+04,59,208010,Active,140589,NaN,S,4,1,37.99,2011,11.86,18.86
198900,NaN,2.091045e+05,120,208011,Active,140391,NaN,S,3,1,39.99,1999,4.00,17.83
198901,NaN,2.519505e+04,27,208012,Active,1497601,NaN,S,0,0,44.99,2011,26.03,26.26
198902,NaN,3.559156e+04,36,208013,Active,524940,NaN,S,0,0,49.99,2011,15.75,24.85
198903,NaN,5.635351e+03,39,208014,Active,524941,NaN,S,0,0,36.99,2011,16.62,20.83
198904,NaN,1.868270e+05,43,208015,Active,327486,NaN,S,0,0,39.99,2008,7.97,65.11
198905,NaN,1.035268e+06,21,208016,Active,775022,NaN,D,4,1,99.00,1999,55.53,189.92
198906,NaN,4.948711e+05,21,208017,Active,128752,NaN,D,1,0,55.00,2009,11.49,73.97
198907,NaN,8.756080e+06,21,208018,Active,2265700,NaN,D,2,1,111.14,2009,24.84,92.30
198908,NaN,2.031828e+05,21,208019,Active,861845,NaN,S,2,1,59.95,2013,44.14,44.03
198909,NaN,1.466957e+05,34,208020,Active,863599,NaN,S,2,1,64.99,2008,41.83,53.00
198910,NaN,6.078198e+05,53,208021,Active,614304,NaN,S,6,1,21.50,2004,4.91,21.97
198911,NaN,9.708068e+05,21,208022,Active,109021,NaN,S,7,1,142.75,2006,19.24,53.99
198912,NaN,2.101869e+05,54,208023,Active,109683,NaN,D,7,1,72.87,2006,8.46,60.59
198913,NaN,4.555041e+05,65,208024,Active,416462,NaN,D,8,1,247.00,2009,8.40,74.85
198914,NaN,1.692746e+05,23,208025,Active,658242,NaN,S,2,1,50.00,2012,23.98,32.62
198915,NaN,3.775266e+05,23,208026,Active,2538340,NaN,S,2,1,46.95,2001,27.42,37.89
198916,NaN,1.183068e+05,44,208027,Active,416662,NaN,D,15,1,120.00,2010,10.97,60.67

In [14]:
start_time = time.time()

In [15]:
def good_row(row):
    val = row[0]
    try:
        if 0 <= val <= 50:
            return True
    except:
        return False

In [16]:
bad_rows_by_tuples = [not good_row(row) for row in dat.table_data.itertuples(index=False)]

In [17]:
print(f"Time to do bulk query using apply under the hood in sec {time.time()-start_time}")

Time to do bulk query using apply under the hood in sec 0.20337796211242676

In [18]:
len([x for x in bad_rows_by_tuples if x])

122924

In [19]:
badded = dat.table_data[bad_rows_by_tuples]

In [20]:
len(badded)

122924